@charset "UTF-8";
/* 
=========================
		RESET 
=========================
*/

*{
	margin: 0;
	padding: 0;
}

/*
=========================
	 	LAYOUT 
=========================
*/

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #e1e0db;
	background-image: url(https://res.cloudinary.com/code-shield/image/upload/v1567425769/bg_iwexi2.jpg);
	background-repeat: repeat;
	font-size:13px;
	line-height: 17px;
	color:#000;
}

.contact {
	background-image: none;
	background-color:#e9e9e9;
}

a, a:visited, a:active {
	color:#7b90b5;
	text-decoration: none;
}

a:hover {
	color:#7b90b5;
	text-decoration: underline;
}

/*
===============================
 	 DOSSIER BACKGROUND
=============================== 
*/

#wrapper {
	width:969px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:100px;
}

.wrapper-top {
	width:969px;
	height:19px;
	margin:0 auto;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425770/btop_lz956e.jpg);
	background-repeat:no-repeat;
}

.wrapper-mid {
	width:969px;
	margin:0 auto;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425769/bmid_y0pdks.jpg);
	background-repeat: repeat-y;
	padding-bottom:40px;
}

.wrapper-bottom {
	width:969px;
	height:22px;
	padding:0;
	margin:0 auto;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425769/bbottom_renj2y.jpg);
	background-repeat:no-repeat;
}

/*
=============================
 	PAPER BACKGROUND
=============================
*/

#paper {
	width:828px;
	margin:0 auto;
}

.paper-top {
	width:828px;
	margin:0 auto;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425697/ptop_mbkerf.jpg);
	background-repeat:no-repeat;
	height:126px;
}

#paper-mid {
	width:828px;
	margin:0 auto;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425695/pmid_h4aj5f.jpg);
	background-repeat:repeat-y;
	display:block;
	padding:0;
	overflow: hidden;
	padding-bottom:75px;
	padding-top:7px;
}

.paper-bottom {
	width:828px;
	height:18px;
	margin:0 auto;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425695/pbottom_xpbfia.jpg);
	background-repeat:no-repeat;
}

/*
===============================
	 ENTRIES
===============================
*/

.entry {
	width:720px;
	display: block;
	padding-top:55px;
	clear: both;
	margin-left:4px;
}

h1  {
	width:350px;
	font-size:42px;
	color:#1b4491;
	line-height: 37px;
	margin-bottom:3px;
	clear:both;
}

h1 span {
	font-size:21px;
	display:block;
	color:#1b4491;
	margin-top:-5px;
}

h2 {
	width:180px;
	height: 23px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:22px;
	color:#1b4491;
	margin-bottom:-12px;
}

p {
	width:500px;
	margin-left:40px;
	float:right;	
}

p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

div.content {
	clear: both;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
	padding-top:32px;
}

h3 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 13px;
	color:#7b90b5;
}

h4 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 11px;
	color:#7b90b5;
}

h5 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 10px;
	color:#7b90b5;
}

h6 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 9px;
	color:#7b90b5;
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	font-size:12px;
	display: block;
	padding-top:3px;
}


ol {
	float:right;
	width:500px;
	margin-left:40px;
	list-style: decimal;
	
}

ol li {
	width:500px;
	list-style-type: decimal;
	list-style-position: inside;
}

dl {
	float:right;
	width:500px;
	margin-left:40px;
	
}

dt {
	float:left;
	display: block;
	width:500px;
		color:#7b90b5;
}

dd {
	float:left;
	display: block;
	width:480px;
	text-indent:20px;
}

ul.unordered {
	float:right;
	width:500px;
	margin-left:40px;
	
}

ul.unordered li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425692/bullet_abccnc.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:0;
}

ul.info {
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none; 
}

ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425692/bullet_abccnc.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

ul.skills {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	margin-top:-6px;
	list-style-type: none;
	
}

ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425692/bullet_abccnc.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:6px;
}

img.portrait {
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425693/frame_jkq2ti.jpg);
	background-repeat: no-repeat;
	width:109px;
	height:109px;
	padding-top:20px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:36px;
	margin-left:50px;
	float:left;
	
}


/*
=================================
	 SELF INFORMATION
=================================
*/

.self {
	width:350px;
	float:left;
	padding-top:11px;
	margin-left:38px;
	margin-bottom:15px;
}

.self ul {
	padding-top: 10px;
}

.self ul li.ad {
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425693/icn-ad_wimuo8.gif);
}

.self ul li.mail {
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425694/icn-mail_ekmkeg.gif);
}

.self ul li.tel {
	background-image:url(https://res.cloudinary.com/code-shield/image/upload/v1567425694/icn-tel_ijqbrd.gif);
}

.self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}

/*
===============================
	 SOCIAL ICONS 
===============================
*/

.social {
	width:135px;
	float:right;
	padding-top:10px;
}

.social ul {
	list-style: none;
}

.social ul li {
	float:left;
	width:21px;
	height:24px;
	margin:0;
	padding:0;
	margin-left:6px;
}

/*
==============================
	 GO TO TOP 
==============================
*/

#message {
	display: block;
	display: inline;
	z-index: 999;
	opacity: .8;
	position: fixed;
	top: 100%;
	margin-top: -40px;
	right: 0%;
	margin-right:10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 77px;
	line-height: 20px;
	height: 20px;
	padding: 5px;
	background-color: #080626;
	font-size: 11px;
	text-align: center;
}

#message a {
	color: #fff;
}

/* 
=========================
	CONTACT 
=========================
*/

fieldset, legend {
	float:right;
	width:500px;
	padding:0;
	margin:0;
	margin-left:40px;
}

h1.warn {
	color:#1b4491;
	font-size:18px;
	margin-top:30px;
	padding:50px;
	text-align: center;
}

#contactform {
	width:320px;
	height:370px;
	margin:0 auto;
	padding:50px;
	overflow: hidden;
}

label {
	float:left;
	width:40px;
	height:28px;
	margin-bottom:10px;
	clear:both;
	color:#1b4491;
}

input {
	width:228px;
	float:right;
	height:18px;
	margin-bottom:10px;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #dadada;
	border-bottom:1px solid #f2f2f2;
	background-color: #e4e4e4;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding:5px;
	outline: none;
}

input:focus {
	background-color: #dddddd;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #dadada;
	border-bottom:1px solid #f2f2f2;
}

textarea {
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #dadada;
	border-bottom:1px solid #f2f2f2;
	background-color: #e4e4e4;
	width:228px;
	float:right;
	margin-bottom:10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding:5px;
	outline: none;
}

textarea:focus {
	background-color: #dddddd;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #dadada;
	border-bottom:1px solid #f2f2f2;
}

.submit-button {
	background: transparent url(https://res.cloudinary.com/code-shield/image/upload/v1567425696/submit_elo9ql.jpg) no-repeat 0 0;
	display: block;
	clear: both;
	width:90px;
	height: 33px; 
	border:none;
	float:left;
	margin-left: 80px;
	text-indent: -9999px;
	outline: 0;
	cursor: pointer;
	padding:0;
}

.submit-button:hover {
	background: transparent url(https://res.cloudinary.com/code-shield/image/upload/v1567425696/submit_elo9ql.jpg) no-repeat 0 -33px;
	outline: 0;
	border: none;
}